@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container-page {
  padding: 15px;
}

table {
  width: 100%;
}

.search-list-field {
    width: 70%;
}
